img.center {
	position: relative;
	top: 25px;
	display: block;
	margin-left: auto;
  	margin-right: auto;
  	z-index:0;
}

img.arrow1 {
	position: absolute;
	top: 530px;
	left: 1000px;
	display: block;
	margin-left: auto;
  	margin-right: auto;
}

img.arrow2 {
	position: absolute;
	top: 630px;
	left: 950px;
	display: block;
	margin-left: auto;
  	margin-right: auto;
}

img.arrow3 {
	position: absolute;
	top: 687px;
	left: 1000px;
	display: block;
	margin-left: auto;
  	margin-right: auto;
}

img.arrow4 {
	position: absolute;
	top: 687px;
	left: 1220px;
	display: block;
	margin-left: auto;
  	margin-right: auto;
}

img.back1 {
	position: absolute;
	right: 0px;
	top: 0px;
	
}

/*img.cat {
	position: absolute;
	left: 0px;
	bottom: 0px;	
}*/

#copy {
	color: grey; 
	position: relative; 
	bottom: -28px;
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
}

#mailIcon {
	position: absolute;
	top: 460px;
	left: 1150px;
	display: block;
	margin-left: auto;
  	margin-right: auto;
}

#twitterIcon {
	position: absolute;
	top: 640px;
	left: 975px;
	display: block;
	margin-left: auto;
  	margin-right: auto;
  	z-index:0;
}

#instaIcon1 {
	position: absolute;
	top: 660px;
	left: 1110px;
	display: block;
	margin-left: auto;
  	margin-right: auto;
  	z-index:1;
}

#instaIcon2 {
	position: absolute;
	top: 640px;
	left: 1170px;
	display: block;
	margin-left: auto;
  	margin-right: auto;
  	z-index:0;
}

div.ex1 {
	width:700px;
	margin: 0 auto;
	border: 3px solid #000000;
	padding: 0px;
}

div.ex2 {
	width: 600px;
	margin: 0 auto;
	border: 3px solid #FFFFFF;
	padding: 0px;
}

@font-face {
    font-family: 'kurochka';
    src: url(data/Kurochkalapkoi.ttf); 
    
    /*src: url('data/kurochkalapkoi-webfont.woff2') format('woff2'),
         url('data/kurochkalapkoi-webfont.woff') format('woff');*/
    font-weight: lighter;
    font-style: normal;
}

#text {
	font-family: "kurochka";
	font-size: 35px;
	position: relative; top: 0px;
}

#langBtn1 {
	font-family: "kurochka";
	color: white;
	font-size: 30px;
	position: absolute; top: -30px; right: 110px;
	z-index: 22;
}

#langBtn2 {
	font-family: "kurochka";
	color: white;
	font-size: 30px;
	position: absolute; top: -30px; right: 60px;
	z-index: 22;
}

#langBtn3 {
	font-family: "kurochka";
	color: white;
	font-size: 30px;
	position: absolute; top: -30px; right: 10px;
	z-index: 22;
}


.fa:hover {
    opacity: 0.7;
}

p.ex3 {
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
    font-family: "kurochka";
	font-size: 35px;
	position: absolute; top: 700px; left: 1200px;
}
